.vscode/
.vs/
*.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/
*.dll
*.exe
*.pdb
*.log
*.config
*.bak
*.deploy
[Tt]humbs.db
*.DS_Store

_PublishedWebsites/
InvestimentSimulatorClient/node_modules/
bower_components/

[Tt]est[Rr]esult*/
[Bb]in/
[Oo]bj/

packages/

*.bak
*.swp
*~
*.cache
*.DS_Store
*.bak
